/* ------------------------------------------------------------------------------------------STYLE-IMPORTS */

@import "null.scss";
@import "header-man.scss";
@import "variables.scss";

/* ------------------------------------------------------------------------------------------TECHNIC */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body {
    color: $white;
    background-color: $graybright1;
}

.wrapper {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------------------------------------------------SCROLL-BAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $graywhite;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: $graybright0;
}

/* ------------------------------------------------------------------------------------------MUSICIAN */

.musician {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 40px;
    background-color: $graybright2;
    padding: 20px;
    gap: 20px;
    border: 5px solid $blue;

    &__photo {
        img {
            width: 450px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__name {
        font-size: 50px;
        text-align: center;
        color: $blue;
        font-weight: 500;
    }

    &__bands {
        font-size: 36px;
        text-align: center;
        color: $graywhite;
        margin-bottom: 10px;
        span {
            color: $blue;
        }
    }

    &__wiki {
        font-size: 25px;
        text-align: justify;
        color: $graywhite;
        line-height: 120%;
    }
}

/* ------------------------------------------------------------------------------------------CATEGORIES */

.categories {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}
.button {
    background-color: inherit;
    color: $graywhite;
    font-size: 22px;
    transition: all 0.3s ease;
    &:hover {
        color: $blue;
    }
}

.button-active {
    color: $blue;
}
.category-all {
}
.category-guitar {
}
.category-amp {
}
.category-pedal {
}
.category-accessory {
}
.category-studio {
}
.category-strings {
}
.category-microphon {
}

/* ------------------------------------------------------------------------------------------PRODUCTS */

.equipment {
    color: $graywhite;

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__product {
        display: flex;
        flex-direction: row;
        width: 90%;
        background-color: $graybright2;
        border: 3px solid $blue;
        margin-bottom: 40px;
    }

    &__photo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        img {
            max-width: 350px;
        }
    }

    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 15px;
    }

    &__read {
        display: flex;
        flex-direction: column;

    }

    &__name {
        margin: 20px 0px;
        font-size: 32px;
        color: $blue;
        text-align: center;
    }

    &__story {
        font-size: 20px;
        line-height: 115%;
        color: $graywhite;
        text-align: justify;
    }

    &__more {
        font-size: 16px;
        max-width: 0px;
        text-align: center;
        font-weight: 600;
        color: $blue;
        margin: 5px 0px;
        transition: all 1s ease;
        &:hover {
            transform: scale(1.1);
        }
    }

    &__more-open {
        font-size: 16px;
        text-align: center;
        line-height: 110%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        a {
            &:hover {
            color: $blue;
            }
        }
    }

}

.buy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;

    &__price {
        display: flex;
        align-items: center;
        font-size: 25px;
        letter-spacing: 0.5px;
        span {
            padding-left: 5px;
            color: $blue;
        }
    }

    &__button {
        font-size: 20px;
        text-align: center;
        color: $blue;
        padding: 10px 15px;
        background-color: $graybright0;
        transition: all 0.5s ease;
        &:hover {
            background-color: $blue;
            color: $graywhite;
        }
    }
    
    &__button_active {
        color: $graywhite;
        background-color: $blue;
    }
}

/* ------------------------------------------------------------------------------------------FOOTER_SHOPPING */

.footer-shopping {
    position: fixed;
    bottom: 0;
    right: 0;


    &__body {
        display: flex;
        padding-right: 10px;
        padding-bottom: 10px;
        cursor: pointer;
    }

    &__img {
        img {
            width: 40px;
        }
    }

    &__counter {
        color: $blue;
        align-self: flex-start;
        font-size: 20px;
        font-weight: 600;
    }
}

/* ------------------------------------------------------------------------------------------SHOPPING */

.shopping {

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 90vh;
        position: fixed;
        top: 55%;
        right: 5%;
        transform: translate(-0%, -50%);
        margin: auto;
        background-color: $graybright1;
        border: 1px solid $blue;
        padding-left: 5px;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        img {
            height: 32px;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 5px;
        height: 40px;
        img {
            width: 50px;
        }
    }

    &__name {
        color: $white;
        text-transform: uppercase;
        padding-right: 5px;
    }

    &__price {
        color: $graywhite;
    }

    &__sum-name {
        font-weight: 600;
        font-size: 20px;
        color: $blue;
    }

    &__sum-price {
        font-weight: 500;
        font-size: 20px;
        color: $blue;
    }

    &__buy-button {
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 10px;
        font-size: 28px;
        padding: 5px 15px;
        background-color: $graybright0;
        color: $blue;
        transition: all 0.5s ease;
        &:hover {
            background-color: $blue;
            color: $white;
        }
    }
}


.anim-card {
    transition: all 0.2s ease;
    transform: scale(0);
    opacity: 0;
}

.hide-card {
    animation-name: hide-card;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    border: none;
}

@keyframes hide-card {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        font-size: 0;
        padding: 0;
    }
}