@import "null.scss";
@import "variables.scss";

/* ------------------------------------------------------------------------------------------HEADER */

.header {
    min-height: 80px;
    background-color: $graybright1bg;
    position: fixed;
    width: 100%;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;

    &__body {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
    }

    &__contacts {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        min-width: 300px;
        img {
            min-height: 25px;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 35px;
        span {
            color: $white;
            transition: all 0.5s ease;
            &.active {
                color: $blue;
            }
        }
        mark {
            color: $orange;
            background-color: inherit;
            transition: all 0.5s ease;
            &.active {
                color: $white;
            }
        }
    }

    &__user {
        display: flex;
        justify-content: flex-end;
        min-width: 300px;
        font-size: 20px;
    }

    &__stick {
        color: $orange;
        font-weight: 900;
        padding: 0px 10px;
        transition: all 0.5s ease;
        &.active {
            color: $blue;
        }
    }

}

/* ------------------------------------------------------------------------------------------ENTRY */

.header {

    &__entry-body {
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            color: $orange;
        }
    }

    &__entry-page {
        cursor: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        height: 50vh;
        position: fixed;
        top: 55%;
        right: 25%;
        transform: translate(0%, -50%);
        margin: auto;
        background-color: $graybright1;
        border: 1px solid $orange;
    }

    &__entry-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        margin: auto;
        img {
            height: 32px;
        }
    }

    &__register-body {
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            color: $orange;
        }
    }

    &__register-page {
        cursor: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        height: 80vh;
        position: fixed;
        top: 55%;
        right: 25%;
        transform: translate(0%, -50%);
        margin: auto;
        background-color: $graybright1;
        border: 1px solid $orange;
    }

    &__register-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        margin: auto;
        img {
            height: 32px;
        }
    }

    &__dark-bg {
        cursor: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0%;
        right: 0%;
        transform: translate(0%, 0%);
        margin: auto;
        background-color: $blackbg;
    }

}

.header {

    &__entry-rows {
        padding-top: 15vh;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        color: $graywhite;
    }

    &__entry-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2vh;
    }

    &__entry-button {
        display: inline-block;
        margin: 0 auto;
        margin-top: 10px;
        font-size: 28px;
        padding: 5px 15px;
        background-color: $graybright0;
        color: $orange;
        transition: all 0.5s ease;
        &:hover {
            background-color: $orange;
            color: $white;
        }
    }
}

.entry-row {

    &__login-text {
        font-size: 25px;
        padding: 0px 5px;
    }

    &__login-input {
        padding-left: 2px;
        background-color: $graybright3;
        border: 1px solid $orange;
        font-size: 22px;
        color: $graywhite;
    }

    &__password-text {
        font-size: 25px;
    }

    &__password-input {
        padding-left: 2px;
        background-color: $graybright3;
        border: 1px solid $orange;
        font-size: 22px;
        color: $graywhite;
    }
}

.header {

    &__register-rows {
        padding-top: 15vh;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        color: $graywhite;
    }

    &__register-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2vh;
    }

    &__register-button {
        display: inline-block;
        margin: 0 auto;
        margin-top: 10px;
        font-size: 28px;
        padding: 5px 15px;
        background-color: $graybright0;
        color: $orange;
        transition: all 0.5s ease;
        &:hover {
            background-color: $orange;
            color: $white;
        }
    }
}

.register-row {

    &__text {
        font-size: 25px;
    }

    &__input {
        padding-left: 2px;
        background-color: $graybright3;
        border: 1px solid $orange;
        font-size: 22px;
        color: $graywhite;
    }
}
