@import "null.scss";
@import "variables.scss";

/* ------------------------------------------------------------------------------------------ */

.header {
    min-height: 80px;
    background-color: $graybright1bg;
    position: fixed;
    width: 100%;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;

    &__body {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
    }

    &__contacts {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        min-width: 200px;
        }
        img {
            filter: grayscale(100%);
            min-height: 25px;
            transition: all 0.3s ease;
            &:hover {
                filter: none;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 35px;
        span {
            color: $blue;
            transition: all 0.5s ease;
            &.active {
                color: $white;
            }
        }
        mark {
            color: inherit;
            background-color: inherit;
            transition: all 0.5s ease;
            &.active {
                color: $orange;
            }
        }
    }

    &__user {
        display: flex;
        justify-content: flex-end;
        min-width: 200px;
        font-size: 20px;
    }

    &__stick {
        color: $blue;
        font-weight: 900;
        padding: 0px 10px;
        transition: all 0.5s ease;
        &.active {
            color: $orange;
        }
    }

}

@media (max-width: 600px) {
    .header {

        &__contacts {
            display: none;
        }

        &__stick {
            display: none;
        }

        &__user {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            min-width: 100px;
        }
        &__body {
            padding: 5px 15px;
        }
    }
}

/* ------------------------------------------------------------------------------------------ENTRY */

.header {

    &__entry-body {
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            color: $blue;
        }
    }

    &__entry-page {
        cursor: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        height: 50vh;
        position: fixed;
        top: 55%;
        right: 25%;
        transform: translate(0%, -50%);
        margin: auto;
        background-color: $graybright1;
        border: 1px solid $blue;
    }

    &__entry-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        margin: auto;
        img {
            height: 32px;
        }
    }

    &__register-body {
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            color: $blue;
        }
    }

    &__register-page {
        cursor: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        height: 80vh;
        position: fixed;
        top: 55%;
        right: 25%;
        transform: translate(0%, -50%);
        margin: auto;
        background-color: $graybright1;
        border: 1px solid $blue;
    }

    &__register-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        margin: auto;
        img {
            height: 32px;
        }
    }

    &__dark-bg {
        cursor: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0%;
        right: 0%;
        transform: translate(0%, 0%);
        margin: auto;
        background-color: $blackbg;
    }

}

.header {

    &__entry-rows {
        padding-top: 15vh;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        color: $graywhite;
    }

    &__entry-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2vh;
    }

    &__entry-button {
        display: inline-block;
        margin: 0 auto;
        margin-top: 10px;
        font-size: 28px;
        padding: 5px 15px;
        background-color: $graybright0;
        color: $blue;
        transition: all 0.5s ease;
        &:hover {
            background-color: $blue;
            color: $white;
        }
    }
}

.entry-row {

    &__login-text {
        font-size: 25px;
        padding: 0px 5px;
    }

    &__login-input {
        padding-left: 2px;
        background-color: $graybright3;
        border: 1px solid $blue;
        font-size: 22px;
        color: $graywhite;
    }

    &__password-text {
        font-size: 25px;
    }

    &__password-input {
        padding-left: 2px;
        background-color: $graybright3;
        border: 1px solid $blue;
        font-size: 22px;
        color: $graywhite;
    }
}

.header {

    &__register-rows {
        padding-top: 15vh;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        color: $graywhite;
    }

    &__register-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2vh;
    }

    &__register-button {
        display: inline-block;
        margin: 0 auto;
        margin-top: 10px;
        font-size: 28px;
        padding: 5px 15px;
        background-color: $graybright0;
        color: $blue;
        transition: all 0.5s ease;
        &:hover {
            background-color: $blue;
            color: $white;
        }
    }
}

.register-row {

    &__text {
        font-size: 25px;
    }

    &__input {
        padding-left: 2px;
        background-color: $graybright3;
        border: 1px solid $blue;
        font-size: 22px;
        color: $graywhite;
    }
}

@media (max-width: 900px) {
    .header {
        &__register-page {
            width: 80%;
            right: 10%;
        }
    }
}

@media (max-width: 850px) {
    .header {
        &__entry-page {
            width: 80%;
            right: 10%;
        }
    }
}

@media (max-width: 600px) {
    .header {

        &__register-rows {
            padding-top: 8vh;
            gap: 1vh;
        }
        &__register-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1vh;
        }
        &__register-button {
            margin-top: 5px;
            font-size: 20px;
            padding: 3px 12px;
        }
    }

    .register-row {

        &__text {
            font-size: 15px;
        }

        &__input {
            padding-left: 2px;
            font-size: 15px;
        }
 
        &__login-input {
            width: 230px;
        }
    
        &__password-input {
            width: 230px;
        }
    }
}

@media (max-width: 550px) {
    .header {

        &__entry-rows {
            padding-top: 3vh;
        }
        &__entry-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3vh;
        }
        &__entry-button {
            margin-top: 0px;
        }
    }

    .entry-row {
 
        &__login-input {
            width: 230px;
        }
    
        &__password-input {
            width: 230px;
        }
    }
}