$graybright1: rgb(22,20,22);
$graybright2: rgb(35,35,35);
$graybright3: rgb(41,41,41);
$graybright1bg: rgb(22,20,22,0.85);
$graywhite: rgb(225,227,230);
$white: white;
$placeholder: rgb(163,163,163);
$blue: rgb(0,180,230);
$bluebg: rgb(0,180,230,0.05);
$orange: rgb(253,117,27);
$orangebg: rgb(253,117,27,0.05);